@page
@model CrudModel
@{
    ViewData["Title"] = "Crud Information Page";
}


<h1>CRUD Information Page</h1>
<p>Create Account (CREATE) - <a href="/Register">Register Page</a></p>
<p>All Users (READ) - <a href="/Read">All Users Page</a></p>
<p>Update Account (UPDATE)- <a href="/UpdateAccount">Update Account Page</a></p>
<p>Delete Account (DELETE)- <a href="/DeleteAccount">Delete Account Page</a></p>
<br />
<h3>Other Operations</h3>
<p>User Search (READ) - <a href="/Search">Search Users Page</a></p>

