@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="links">
    <button><a style="text-decoration:none;" href="/Register">Create Account</a></button>
    <button><a style="text-decoration:none;" href="/Read">All Users</a></button>
    <button><a style="text-decoration:none;" href="/UpdateAccount">Update Account Information</a></button>
    <button><a style="text-decoration:none;" href="/DeleteAccount">Delete Account</a></button>
    <button><a style="text-decoration:none;" href="/Search">User Search</a></button>
</div>

